/* Ladda in de fonts vi behöver */
@import url(./fonts.css);
@import url(./alignment.css);
@import url(./colours.css);
@import url(./input.css);
@import url(./buttons.css);
@import url(./toast/index.css);

/* Sidans tema */
:root {
    --bg:    #040404;
    --on_bg: white;

    --branding: #2EB454;
    --on_branding: white;

    --tetriary: #1f252e76;
    --on_tetriary: white;

    --link_new: cyan;
    --link_visited: teal;

    --info: blue;
    --on_info: white;

    --error: #960018;
    --on_error: white;

    --accent: cyan;

    font-size:0.8vw;
}

body {
    min-height: 100vh;
}

/* Ta bort jobbiga css presets */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
}

.newThread {
    background-color: var(--branding);
    padding: 0.7em;
    border-radius: .7em;
}

a {
    color: var(--link_new);
}

a:visited {
    color: var(--link_visited);
}

body {
    background-color: var(--bg);
    color: var(--on_bg);
    min-height: 100vh;
}

.logo_row {
    width: 20%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
}


.logo_row > img {
    width: 3em;
}

.navbar_container {
    padding: 1em 0em 2em 0em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    border-radius: .5em;
    background-color: var(--tetriary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    overflow: hidden;
}

.navbar > .logo_row {
    padding: 0.75em;
}


.navbar_content {
    height: 100%;
    min-width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 2em;
}

.nav_item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.75em;
}

.stack {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
}

.gap-small {
    gap: .25em;
}

.gap-medium {
    gap: .5em;
}

.gap-large {
    gap: .75em;
}

.gap-huge {
    gap: 2em;
}

.info_bar {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: .75em;
    gap: 1em;
    outline: 1px solid red;
    background-color: rgba(255, 0, 0, 0.15);
    padding: 1em;
}

.info_bar > .code {
    color: lightgray;
    font-weight: bold;
}

.info_bar.code_2xx {
    outline: 1px solid var(--branding);
    background-color: rgba(21, 207, 21, 0.15);
}

.containerthing {
    align-items: center;
}

.layout {
    width: 90%;
    min-height: 100%;
    justify-content: center;
    display: flex;
    gap: 2em;
}

.layout > .content {
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 20%;
}

.sticky {
    position: sticky;
    top: 0;
    padding-top: 1em;
}

.sidebar > .section {
    padding: .5em;
}

.sidebar > hr {
    border: 1px solid gray;
}

.section > .label {
    opacity: .5;
    font-size: .8em;
}

.section a {
    color: inherit;
}

.section > ul {
    list-style: none;
}

.section > ul > li {
    opacity: .75;
    display: flex;
    gap: .5em;
    align-items: center;
    text-wrap: ellipsis;
    overflow: hidden;
}

.section > ul path {
    fill: white;
}

.margin {

}

.tag {
    background-color: var(--ctx_main);
    padding: .2em;
    border-radius: .2em;
    font-weight: bold;
    font-size: .8em;
}

button.star {
    width: 2em;
    height: 2em;
    transition: .3s;
    fill: gray;
}

.starred path {
    fill: gold !important;
}

.hide {
    display: none;
}

.search {
    min-width: 50%;
}

.search_container > input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: medium;
}

.search_container {
    background-color: var(--tetriary);
    color: white;
    padding: .7em;
    border-radius: .7em;
    display: flex;
    align-items: center;
    gap: 1em;
    fill: rgba(255, 255, 255, 0.29);
}

/* 
function renderResult($data) {
    echo "<div class='thread_preview'>";
        echo "<div class='stars'>";
            echo "<span>" . $data["stars"] . "</span>";
            echo '<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11.322 2.923c.126-.259.39-.423.678-.423.289 0 .552.164.678.423.974 1.998 2.65 5.44 2.65 5.44s3.811.524 6.022.829c.403.055.65.396.65.747 0 .19-.072.383-.231.536-1.61 1.538-4.382 4.191-4.382 4.191s.677 3.767 1.069 5.952c.083.462-.275.882-.742.882-.122 0-.244-.029-.355-.089-1.968-1.048-5.359-2.851-5.359-2.851s-3.391 1.803-5.359 2.851c-.111.06-.234.089-.356.089-.465 0-.825-.421-.741-.882.393-2.185 1.07-5.952 1.07-5.952s-2.773-2.653-4.382-4.191c-.16-.153-.232-.346-.232-.535 0-.352.249-.694.651-.748 2.211-.305 6.021-.829 6.021-.829s1.677-3.442 2.65-5.44z" fill-rule="nonzero"/></svg>';
        echo "</div>";
        echo "<h4>" . strip_tags($data["title"]) . "</h4>";
    echo "</div>";
}

*/

.thread_link {
    text-decoration: none;
    color: inherit !important;
}

.thread_preview {
    width: 100%;
    display: flex;
    align-items: center;
    padding: .7em;
    border-radius: .7em;
    gap: 1em;
    background-color: var(--tetriary);
    backdrop-filter: blur(10px);

    .stars {
        display: flex;
        align-items: center;
        gap: 0.2em;
        opacity: .85;

        svg {
            width: 1em;
            fill: gold;
        }
    }

    .meta {
        display: flex;
        gap: 1em;
    }
}

.thread_list {
    position: relative;

    .fire {
        z-index: -1;
        top: 25%;
        left: 0;
        position: absolute;
        fill: #ba0b04;
        transform: scale(10) rotateZ(-30deg);
        filter: drop-shadow(0px 1px 10px #ea5104);
        opacity: 0.15;
    }

    .starxd {
        z-index: -1;
        top: 25%;
        left: 0;
        position: absolute;
        fill: gold;
        transform: scale(10) rotateZ(-30deg);
        filter: drop-shadow(0px 1px 10px gold);
        opacity: 0.15;
    }
}

.btnrow {
    display: flex;
    gap: 1em;
}