.thread-details > article {
    display: flex;
    gap: 1em;
    position: relative;
}

.thread-details img {
    width: 50%;
    border-radius: .4em;
}

.thread-details section {
    width: 50%;
    background-color: var(--tetriary);
    padding: 1em;
    border-radius: .4em;
}

.md blockquote {
    padding-left: 1em;
    border-left: 2px solid red;
}

.md ul {
    margin-left: 1em;
}

.commentbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}