#logo {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url("/img/redidit.svg");
    background-repeat: no-repeat;
    opacity: .4;
    filter: blur(3px);
    left: -10%;
    top: -5%;
    
    transform: scale(.7) rotateY(15deg) rotateX(15deg);
}

body::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    content: "";

}

#content {
    border-radius: .75em;
    z-index: 1;
    min-width: 20%;
    background-color: #141414;
    padding: 1.5rem;
}